altgraph==0.17.4
blinker==1.9.0
build==1.2.2.post1
click==8.1.8
databases==0.9.0
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
flaskwebgui==1.1.6
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
macholib==1.16.3
MarkupSafe==3.0.2
numpy==2.2.5
orm==0.3.1
packaging==25.0
pandas==2.2.3
psutil==6.1.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
setuptools==79.0.0
six==1.17.0
SQLAlchemy==2.0.40
typesystem==0.3.1
typing_extensions==4.13.2
tzdata==2025.2
waitress==3.0.2
Werkzeug==3.1.3
